<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            --- The power of RoR ---
        </div>
        <div class="card-body">
            <h5 class="card-title">Welcome to Blog!</h5>
            <p class="card-text">This blog was developed with Ruby on Rails.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            engineer.jrg@gmail.com
        </div>
    </div>
</div>